[submodule "IMKernel"]
	path = IMKernel
	url = https://github.com/DigitalDesign-RobotHub/IMKernel.git
[submodule "PipeBending"]
	path = PipeBending
	url = https://github.com/DigitalDesign-RobotHub/PipeBending.git
[submodule "CSharpOCCToolKit"]
	path = CSharpOCCToolKit
	url = https://github.com/ICO-Fantasy/CSharpOCCToolKit.git
[submodule "IMKernelUI"]
	path = IMKernelUI
	url = C:/Program Files/Git/path/to/IMKernelUI
